@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --bg: #6b9fe9;
}

/* Header Start */

/* Navbar Start */
nav {
  background-color: var(--bg);
  padding: 1rem 2%;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  margin: 0 auto;
  flex-direction: column;
}
nav .content {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2%;
}

nav .nav-nav {
  display: flex;
  padding: 40px 0 0 0;
  justify-content: space-between;
}
nav .navbar-nav {
  display: flex;
  gap: 30px;
}
nav .navbar-nav a {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
}
nav .navbar-extra {
  padding-left: 10px;
  padding-right: 10px;
}
nav .navbar-extra a {
  color: #ffffff;
}

nav .logo .logo-right {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 10px;
  color: #ffffff;
}

.logo-stp ul {
  padding-left: 1rem;
}

.logo-stp ul li {
  color: #ffffff;
}
/* Navbar End */

/* Header End */

/* Home Section Start */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .content .hero {
  font-family: "Montserrat", sans-serif;
  text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.48);
}

.home .content .hero-right {
  position: relative;
  justify-content: center;
  transition: transform 2s;
  transform: rotate(-45deg);
}

.home .content .hero-right img.thumb {
  margin: 2rem;
  transition: transform 2s;
  transform: scale(1) rotate(45deg);
}

.home .content .hero-right img.thumb.active {
  z-index: 1;
  transition: 2s;
  transform: scale(1.5) rotate(45deg);
}

/* .home .content .hero-right.rotate {
  animation: rotate 2s 10s infinite alternate forwards;
} */

/* .home .content .hero-right.rotate1 {
  transform: rotate(45deg);
}
.home .content .hero-right.rotate2 {
  transform: rotate(135deg);
}
.home .content .hero-right.rotate3 {
  transform: rotate(225deg);
}
.home .content .hero-right.rotate4 {
  transform: rotate(315deg);
} */

/* .active-rotate {
} */

/* @keyframes rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
} */

/* Selamat Datang di Website Prodi Sistem Informasi */

/* position: absolute;
width: 772px;
height: 300px;
left: 97px;
top: 406px;

font-family: "Montserrat", sans-serif;
font-style: normal;
line-height: 98px;

color: #FFFFFF;

text-shadow: 4px 8px 4px rgba(0, 0, 0, 0.48); */

/* Home Section End */

/* Visi Section Start */
.visi {
  padding: 1.4rem 7%;
  background-color: #d9d9d9;
}

.visi h1:last-child {
  position: relative;
  bottom: -46px;
  font-size: 2.4rem;
  text-align: center;
}

.visi .content1 {
  text-align: center;
  align-items: center;
}
.visi .content1 .con-icon {
  display: flex;
  flex-direction: column;
  margin: 20px 3%;
  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.3));
  text-align: center;
  align-items: center;
}
.visi .content1 .con-icon h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 39px;
  text-align: center;
}
.visi .content1 .con-icon .icon {
  display: flex;
  margin: 20px;
  margin-bottom: 0;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.visi .content1 .con-icon .icon img {
  width: 50%;
}
.visi .content1 .con-icon .icon1 {
  background: linear-gradient(154.83deg, #9575de 15.99%, rgba(101, 84, 175, 0.44) 96.24%);
}
.visi .content1 .con-icon .icon2 {
  background: linear-gradient(154.83deg, #ffa41b 15.99%, rgba(248, 111, 3, 0.615686) 96.24%);
}
.visi .content1 .con-icon .icon3 {
  background: linear-gradient(119.53deg, #6c9bcf 5.73%, rgba(165, 192, 221, 0.615686) 92.49%);
}
.visi .content1 .con-icon .icon4 {
  background: linear-gradient(154.83deg, #99627a 15.99%, rgba(153, 98, 122, 0.615686) 96.24%);
}

.visi .content2 {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visi .content2 .con-icon {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  padding: 20px;
  filter: drop-shadow(-7px 10px 4px rgba(0, 0, 0, 0.3));
}
.visi .content2 .con-icon.con-icon-bg1 {
  background: linear-gradient(90.45deg, #9676df 48.07%, rgba(110, 66, 211, 0) 114.86%);
  border-radius: 20px 0px 0px 20px;
}
.visi .content2 .con-icon.con-icon-bg2 {
  background: linear-gradient(90.45deg, #f09745 48.07%, #f4d5a7 114.86%);
  border-radius: 20px 0px 0px 20px;
}
.visi .content2 .con-icon .icon {
  margin-right: 25px;
}
.visi .content2 .con-icon .text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.visi .content2 .con-icon .text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.visi .content2 .con-icon .text p {
  font-size: 1.4rem;
  width: 100%;
}
/* Visi Section End */

/* Berita Section Start */
.berita {
  padding: 1.4rem 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: calc(2rem * 2);
  padding-bottom: calc(2rem * 2);
  width: 100%;
}
.berita .kotak {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 0 0 20px 20px;
}
.berita .kotak .text {
  padding: 10px;
}
.berita .kotak .text h2 {
  padding-top: 30px;
}
.berita .kotak .text h3 {
  padding-top: 10px;
}
.berita .kotak .text > p {
  padding-top: 30px;
}
/* Berita Section End */

/* Kopetensi Section Start */
.kopetensi {
  padding: 1.4rem 7%;
  background-color: #d9d9d9;
}

.kopetensi h1:nth-child(1) {
  position: relative;
  top: -45px;
  font-size: 2.4rem;
  text-align: center;
}
.kopetensi h1,
.kopetensi h2 {
  text-align: center;
}
.kopetensi .kotak {
  display: flex;
  background-color: #d9d9d9;
  width: 395px;
  filter: drop-shadow(-7px 9px 4px rgba(0, 0, 0, 0.45));
  border-radius: 20px 0 0 20px;
}
.kopetensi .kotak img {
  border-radius: 20px 0 0 20px;
  overflow: hidden;
}

.kopetensi .kotak .text h3 {
  font-size: 1.6rem;
}
.kopetensi .kotak .text p {
  justify-content: flex-end;
}

.kopetensi .more {
  display: flex;
  flex-direction: row-reverse;
}

.kopetensi .more h2 {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  background-color: #6b9fe9;
  cursor: pointer;
}
/* Kopetensi Section End */

/* Footer Section Start */
.footer {
  padding: 1.4rem 7%;
}

.footer footer.content .left,
.footer footer.content .mid,
.footer footer.content .right {
  display: flex;
}
.footer footer.content .left {
  align-items: center;
}
.footer footer.content .left ul {
  color: #ffffff;
  padding-left: 20px;
}
.footer footer.content .mid,
.footer footer.content .right {
  flex-direction: column;
}
.footer footer.content .mid p,
.footer footer.content .right p {
  padding: 20px;
}
/* Footer Section End */

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1024px) {
  .hero-right .thumb {
    width: 150px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  nav .nav-nav {
    display: none;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .home .content {
    flex-direction: column;
    width: 100%;
  }

  nav .content .logo {
    width: 100%;
  }
  nav .content .logo img {
    width: 50px;
  }
}
